@import url("https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css");
body{
    margin: auto;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    overflow: auto;
    background: linear-gradient(
        315deg,
        rgba(101,0,94,1)3%,
        rgba(60, 132, 206, 1)38%,
        rgba(48, 238, 226, 1)68%,
        rgba(255, 25, 25, 1)98%
    );
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
    
    
}
@keyframes gradient{
    0%{
        background-position: 0% 0%;
    }
    50%{
        background-position: 100% 100%;
    }
    100%{
        background-position: 0% 0%;
    }
}

.wave{
    background: rgb(255 255 255/25%);
    border-radius: 1000% 1000% 0 0;
    position: fixed;
    width: 200%;
    height: 12em;
    animation: wave 10s -3s linear infinite;
    transform: translate3d(0,0,0);
    opacity: 0.8;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.wave:nth-of-type(2){
    bottom: -1.25em;
    animation: wave 18s linear reverse infinite;
    opacity: 0.8;
}

.wave:nth-of-type(3){
    bottom: -2.5em;
    animation: wave 20s -1s reverse infinite;
    opacity: 0.9;
}
@keyframes wave{
    2%{
        transform: translateX(1);}
    25%{
        transform: translateX(-25%);}
    50%{transform: translateX(-50%);}
    75%{transform: translateX(-25%);}
    100%{transform: translateX(1);}
}

*{
    font-family: "Robot", sans-serif;
    padding: 0;
    margin: 0;
}
html, body{
    width: 100%;
    height: 100%;
}


.tab-bar{
    display: flex;
    flex-wrap: nowrap;
    bottom: 0;
    width: 550px;
    height: 70px;
    align-items: center;
    background-color: rgb(245, 245, 245);
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    padding-inline: 30px;
    box-sizing: border-box;
    margin-top: 1%;
    margin-left: 1%;
    border-radius: 20px;
}
.tab-bar > div{
    display: flex;
    justify-content: center;
    flex-grow: 1;
}
.tab-bar > div input[type="radio"]{
    display: none;
}
.tab-bar > div a {
    color: rgb(150, 150, 150);
    text-decoration: none;
}

.tab-bar >div label{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: .8em;
    transition: 3.s;
    width: fit-content;
}

.tab-bar > div i{
    font-size: 1.5em;
    height: 22px;
}

.tab-bar > div input[type="radio"]:checked + a label{
    color:#5549F1;
    
}

h2, p{
    font-size: 5rem;
    background: linear-gradient(to right, #fff 20%,
            #65C7F7 40%, #0052D4 60%, #fff 80%);
    background-size: 200% auto;
    color: #000;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    animation: animate 2s linear infinite;
}
@keyframes animate{
    to{
        background-position: 200%center;
    }
}

.slide{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    width: 50%;
    height: 50%;
    overflow-x: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.slide1{
    background-image: url("https://t4.ftcdn.net/jpg/02/94/89/95/240_F_294899572_DTa9koIftIhBV07IUrUsyH6llBBAMiXQ.jpg");
}
.slide2{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRtGuTboKmMCqLY3hlNJYtQzLUckTosF9xzcA&usqp=CAU");
}
.slide3{
    background-image: url("https://t3.ftcdn.net/jpg/03/15/92/42/240_F_315924231_ARwuFaPa1NzlsYbnFQfQukX4QxY6MNNM.jpg");
}
.slide{
    display: flex;
    margin: auto;
    margin-top: 10%;
}
.arrow{
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -35px;
    width: 0;
    height: 0;
    border-style: solid;  
}
#arrow-left{
    border-width: 20px 30px 20px 0;
    border-color: transparent #fff transparent transparent;
    left: 0;
    margin-left: 100px;
}
#arrow-right{
    border-width: 20px 0 20px 30px;
    border-color: transparent transparent transparent #fff;
    right: 0;
    margin-right: 100px;
}